{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="bg-div container h-150 main-jumbo-container">
    <div class="opaque-overlay">&nbsp;</div>

    <div class="row intro-container">
        <div>
            <h2 class="logo-font">
                Baby in? Get the new collection out!
            </h2>
            <div>
                <h1>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">Shop Now</a>
                </h1>
            </div>
        </div>
    </div>
</div>

<div>
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>
<div>
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>
<div>
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>



{% endblock %}