{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index_style.css' %}">
{% endblock %}


{% block page_header %}
<div class="bg-div container main-jumbo-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row intro-container">
        <div class="sub-intro-container">
            <h2 class="logo-font">
                Baby in? Get the new collection out!
            </h2>
            <div>
                <h1>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">Shop Now</a>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="intro-text">
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>

<!-- Slideshow container -->
<!-- <div class="slideshow-container"> -->
    <!-- Full-width images with number and caption text -->
    <!-- <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img class="card-img-top slide-img" src="../media/dungaree_1.jpg" alt="New edition" style="width:50%">
        <div class="text">Caption One</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="card-img-top slide-img" src="../media/dungaree_2.jpg" alt="New edition" style="width:50%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="card-img-top slide-img" src="../media/dungaree_3.jpg" alt="New edition" style="width:50%">
        <div class="text">Caption Three</div>
    </div> -->


    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br> -->

<!-- The dots/circles -->
<!-- <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
</div> -->





<!-- Testimonials -->


<!-- <section class="wrapper">
  <div class="testimonial">
    <div class="item">
      <div class="img">
        <img src="media/testimonials/testimonial_1.jpg" alt="">
      </div>
      <div class="name">Mike Kane</div>
      <div class="content">
        <h1><i class="fas fa-quote-left"></i></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint distinctio corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae illum labore.</p>
        <div class="stars">
         <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="media/testimonials/testimonial_2.jpg" alt="">

      </div>
      <div class="name">carlo rossi</div>
      <div class="content">
        <h1><i class="fas fa-quote-left"></i></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint distinctio corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae illum labore.</p>
        <div class="stars">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gray.png" alt="">
          <img src="star_gray.png" alt="">
          <img src="star_gray.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="media/testimonials/testimonial_1.jpg" alt="">
      </div>
      <div class="name">Jason Peter</div>
      <div class="content">
        <h1><i class="fas fa-quote-left"></i></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat sint distinctio corporis debitis neque aliquid quae maiores molestiae qui. Repudiandae itaque beatae illum labore.</p>
        <div class="stars">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gold.png" alt="">
          <img src="star_gray.png" alt="">
          <img src="star_gray.png" alt="">
        </div>
      </div>
    </div>
    <div class="clear-fix"></div>
 </div>
</section>	 -->


<div>
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>
<div>
    <p>The Baby Corner is the best web store in which you can find well chosen, curely fabricated items and clothes for your newborn or toddler. The delivery is fast, ordering is easy. Let The Baby Corner do the job for you and make the new entry for your baby the best ever. </p>
</div>

{% endblock %}





{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'home/js/index_script.js' %}"></script>
  {% endblock %}
