html {
    height: 100%;
}

body {
    color: rgb(34, 34, 34);
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

.main-jumbo-container {
    background: url('/media/bg_photo.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    height: 70vh;
    margin-top: 100px;
    margin-bottom: 50px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.4);
    z-index: -1;
}

.intro-container {
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.nav-background {
    background-color: rgb(39 39 39);
}

.nav-link {
    color: rgb(255, 223, 223);
}

.nav-link:hover {
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.shop-now-button {
    background-color: rgb(215 239 136 / 92%);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    border-color: rgb(255, 255, 255);

}

.shop-now-button:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(215 239 136 / 92%);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.btn-outline-black {
    background: rgb(78, 14, 14);
    color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}


.new-item-title-col {
    height: 10rem;
    margin: 0 10%;
}

.new-item-title-col h2 {
    font-size: 3rem;
}

.new-item-title-col,
.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* SLIDE PICTURES ON THE INDEX.HTML */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-top: 100px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #000000;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration:5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.slide-img {
    margin-left: 25%;
} 

.testimonial-section{
    background-color: #1d1d4b;
    padding: 80px 0;
    min-height: 100vh;
}
.testi-img .img-box{
    max-width: 360px;
    margin:auto;
    text-align: center;
    position: relative;
}
.testi-img .circle{
    height: 360px;
    width: 360px;
    background-color: #df2623;
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
.testi-img .img-box-inner{
    position: relative;
    border-radius: 0 0 180px 180px;
    overflow:hidden;
}
.testi-img .img-box-inner img{
    max-width: 310px;
}
.testimonial-section .carousel-inner{
    margin-bottom: 20px;
}
.testimonial-section .carousel-control-prev{
    margin-right: 10px;
}
.testimonial-section .carousel-control-next, 
.testimonial-section .carousel-control-prev{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #fb9c9a;   
    display: inline-flex;
    border-radius: 50%;
}
.testimonial-section .carousel-control-prev img,
.testimonial-section .carousel-control-next img{
    width: 15px;
}
.testi-item h3,
.testi-item p{
    font-size: 18px;
}
.testi-item h3{
    text-transform: capitalize;
}

/* Responsive */
@media(max-width:991px){
    .testi-img .img-box{
        max-width: 300px;
    }
    .testi-img .circle{
        height: 300px;
        width: 300px;
    }
    .testi-img .img-box-inner{
        border-radius: 0 0 150px 150px;
    }
    .testi-img .img-box-inner img{
        max-width: 230px;
    }
}
@media(max-width:767px){
    .testi-img{
        margin-bottom: 25px;
    }
}

/* TOP button */
.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(141, 108, 18, 0.459);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* FREE DELIVERY div */
.free-delivery {
    background-color: rgba(178, 197, 6, 0.788);
    margin: auto;
    text-shadow: 1px 1px rgb(78, 78, 78);
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/* INTRO TEXT */

.intro-text {
    margin: 150px 50px 50px 50px;
}
/* MEDIA QUERIES */


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}



/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}