html {
    height: 100%;
}

body {
    color: rgb(34, 34, 34);
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

.main-jumbo-container {
    background: url('/media/bg_photo.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    height: 70vh;
    margin-top: 100px;
    margin-bottom: 50px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.4);
    z-index: -1;
}

.intro-container {
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.nav-background {
    background-color: rgb(39 39 39);
}

.nav-link {
    color: rgb(255, 223, 223);
}

.nav-link:hover {
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.shop-now-button {
    background-color: rgb(215 239 136 / 92%);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    border-color: rgb(255, 255, 255);

}

.shop-now-button:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(215 239 136 / 92%);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.btn-outline-black {
    background: rgb(78, 14, 14);
    color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}


.new-item-title-col {
    height: 10rem;
    margin: 0 10%;
}

.new-item-title-col h2 {
    font-size: 3rem;
}

.new-item-title-col,
.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* SLIDE PICTURES ON THE INDEX.HTML */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-top: 100px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #000000;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Testimonials */
 
.testimonial{
    width: 720px;
    height: auto;
    margin: 120px auto;
}
  
.testimonial .item{
    width: 220px;
    margin: 0 10px;
    float: left;
    background: #6ddfc0;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.125);
}
  
.testimonial .item .img{
    padding: 20px;
}
  
.testimonial .item .img img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
  
.testimonial .item .name{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
  
.testimonial .item .content{
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    text-align: center;
}
  
.testimonial .item .content h1{
    margin-bottom: 10px;
    color: #6ddfc0;
}
  
.testimonial .item .content p{
    line-height: 20px;
    margin-bottom: 15px;
}
  
.testimonial .item .content .stars img{
    width: 25px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Responsive */
@media(max-width:991px){
    .testi-img .img-box{
        max-width: 300px;
    }
    .testi-img .circle{
        height: 300px;
        width: 300px;
    }
    .testi-img .img-box-inner{
        border-radius: 0 0 150px 150px;
    }
    .testi-img .img-box-inner img{
        max-width: 230px;
    }
}
@media(max-width:767px){
    .testi-img{
        margin-bottom: 25px;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}



/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* TOP button */
.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(141, 108, 18, 0.459);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* FREE DELIVERY div */
.free-delivery {
    background-color: rgba(178, 197, 6, 0.788);
    margin: auto;
    text-shadow: 1px 1px rgb(78, 78, 78);
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/* INTRO TEXT */

.intro-text {
    margin: 150px 50px 50px 50px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* MEDIA QUERIES */


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}



/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}