html {
    height: 100%;
}

body {
    background: url('/media/bg_photo.jpg') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    color: rgb(34, 34, 34);
    font-family: 'Raleway', sans-serif;
}

.nav-background {
    background-color: rgba(39, 39, 39, 0.589);
}

.nav-link {
    color: rgb(255, 223, 223);
}

.nav-link:hover {
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
     -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.shop-now-button {
    background-color: rgb(190, 113, 113);
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.shop-now-button:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(190, 113, 113);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* MEDIA QUERIES */


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}



/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}